@charset "utf-8";

ol{
    list-style-type: upper-alpha;
}

ul{
    list-style-type: square;
}

.unlist-circle{
    list-style-type: circle;
}

.unlist-image{
    list-style-image: url(list.png);
}