@charset "utf-8";

a:active{
    color: yellow;
    text-decoration: none;
}

a:link{
    color: red;
    text-decoration: underline;
}

a:hover{
    color: orange;
    text-decoration: none;
}

a:visited{
    color: purple;
    text-decoration: none;
}

nav ul li a:hover{
    color: green;
    text-decoration: none;
}